
# CIS024C - Summer 2018

## Homework 11

Homework 11 covers object oriented programming in Python

The below sites have some interesting and useful information on working with files

https://drive.google.com/open?id=1OrcpXEmhvgcJxSlchIBsvmXST0lG_uKx
http://www.tutorialspoint.com/python/python_classes_objects.htm

You will need to download this notebook and use this as a starting point for your homework. You will just need to fill in the content of each code-block (cell) and execute. Once you have completed all the exercises, you will need to save and upload this to your github repository under a folder called hw10.

Note also the exercises build on top of one another so you might be able to do the next exercise if you have not completed the previous exercise.

Post any questions you have on our Slack at **cis-024c1.slack.com**

Slides

https://docs.google.com/presentation/d/1AigvCKV1yb3PrrcT5xt3IqyAwGpv6IKMNWYUiQ2Oy6k/edit?usp=sharing

**Please refer back to hw1 and slack for instructions on how to setup your computer for developing using Python.**

### Helpful Jupyter Commands

Below are some useful commands to know when using Jupyter

1. You can add a new cell by clicking on the "+" icon on top.
2. You can delete a cell by selecting that cell and clicking on the "scissors" icon on top.
3. You can execute a cell by either pressing shift+enter or selecting the "play" button on top.
4. You can create a new file in Jupyter via the File menu->New Notebook option. Make sure to select Python 2 when creating your notebook.
5. Also, for your code blocks make sure that Code is selected instead of another option like Markdown.
6. Use the Enter key to go to the next line in a cell to enter the next statement.
7. You can clear results by clicking on the Cell menu item and selecting Current Output->Clear or All Output->Clear depending on whether you are trying to just clear the output for one cell or for all cells.
8. In case your program has crashed for some reason (infinite loop, for example), you can restart your Python session by select Kernel in the menu and selecting Restart.

#### Check Python Version

In [1]:
!python --version

Python 3.6.5 :: Anaconda, Inc.

**Exercise 1 - Testing your knowledge of object oriented programming concepts **

Answer the below questions

1. Why do we need classes?
2. What is encapsulation?

**1. Without classes, you cannot define objects (or instances), because objects are defined within classes, which is why classes are necessary in Python. Classes are also helpful when the need to bundle functions and data together arises.**
**2. For an object-oriented Python program, you can restrict access to specific methods and variables. This prevents the data from being changed on accident and is called encapsulation. To do this, put two underscores before the variable name.**

** Exercise 2 - Class creation **

Create a Python class named **Employee** with the following attributes and methods

Data members
```
1. employeeName  - type string
2. employeeAge  - type int
3. employeeSalary - type float
```

Methods:
```
1. getEmployee - returns employee name
2. getEmployeeAge - gets the employee age
3. getEmployeeSalary - returns the employee salary
4. __init__ - initialize method accepts the name, age and salary of the employee
```

Create an object of type Employee and initialize with arbitrary values. Invoke the get methods and display the result.

In [26]:
class Employee(object):
    
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
        
    def EmployeeName(self,name):
        self.name = name
        
    def EmployeeAge(self,age):
        self.age = age
        
    def EmployeeSalary(self,salary):
        self.salary = salary
        
    def printEmployeeDetails(self):
        print(self.name)
        print(self.age)
        print(self.salary)

In [27]:
employee1 = Employee("Tina", 34, 1358.34)

In [28]:
employee1.printEmployeeDetails()

Tina
34
1358.34

#### Exercise 3 - Private members

In the above **Employee** class make the employeeName, employeeAge and employeeSalary private so that their access is restricted to only within the class.

In [1]:
class Employee(object):
    
    def __init__(self,name,age,salary):
        self.__name = name
        self.__age = age
        self.__salary = salary
        
    def EmployeeName(self,name):
        self.__name = name
        
    def EmployeeAge(self,age):
        self.__age = age
        
    def EmployeeSalary(self,salary):
        self.__salary = salary
        
    def printEmployeeDetails(self):
        print(self.__name)
        print(self.__age)
        print(self.__salary)

In [2]:
employee1 = Employee("Tina", 34, 1358.34)

In [3]:
employee1.printEmployeeDetails()

Tina
34
1358.34

#### Exercise 4 - Adding setters and working with a list of Employees

In the **Employee** class add the following methods

```
1. setEmployeeAge - accepts age and sets it in the object
2. setEmployeeName - accepts employee name and sets it in the object
3. setEmployeeSalary - accepts employee salary and sets it i nthe object
```

Create a list of employees called employeeList. Initialize the list with three objects of type Employee. Initialize the object with the values "None" for employeeName, 0 for employeeAge and 0 for employeeSalary.

Loop  through each employee in the employeeList. Each time, request the user to enter the name, age and salary of a different employee. Use the set methods to set the name, age and salary for each employee in the employeeList.

Loop through each employee in the employeeList. Display the name, age and salary of each employee.

In [114]:
employeeList = []

class Employee(object):
    
    def __init__(self,name,age,salary):
        self.name = name
        self.age = age
        self.salary = salary
       
    def setName(self,name):
        self.name = "None"
        employeeList.append(name)
        
    def setAge(self,age):
        self.age = 0
        employeeList.append(age)
        
    def setSalary(self,salary):
        self.salary = 0
        employeeList.append(salary) 

    for word in employeeList:        
        tokens = employeeList.split(" ")    
        employee = Employee(tokens[0],int(tokens[1]),int(tokens[2]))
        employeeList.append(employee)
    
    def printEmployee(self):
        print(employee)

In [115]:
employee1 = Employee("Tina", 29, 1200)
employee2 = Employee("John", 45, 1500)
employee3 = Employee("Jill", 34, 1400)
employee4 = Employee("Jack", 28, 1300)

In [116]:
Employee.printEmployee(employeeList)

NameError: name 'employee' is not defined

#### Exercise 5 -  Creating a Python calculator class

Create a Python class called Calculator. 

The class has the following data members

```
1. number1 - type float
2. number2 - type float
```

The class must have the below methods

```
1. add - adds two numbers and returns the result
2. subtract - subtracts the first number from the second number and returns the result
3. multiply - multiply two numbers and returns the result
4. divide - divide the first number by the second number and returns the result
5. __init__ - accepts two numbers and uses those numbers to initialize number1 and number2 respectively
```

Create an object of the Calculator class. Initialize it with any two arbitrary numbers. Invoke the methods add, subtract, multiple and divide and display the result

In [88]:
class Calculator(object):
        def __init__(self,x,y):
            x = input("enter first number: ")
            y = input("enter second number: ")
        def add(x,y):
            return x + y
        def subtract(x,y):
            return y - x
        def multiply(x,y):
             return x * y
        def divide(x,y):
            return x / y

In [89]:
Calculator.add(1,3)

4

In [90]:
Calculator.subtract(3,1)

-2

In [91]:
Calculator.multiply(5,2)

10

In [92]:
Calculator.divide(5,2)

2.5

# Optional Exercise

#### Exercise 6

In the next two problems, you’ll be building an address book using object-­‐oriented programming in Python. To begin, you’ll define a Person class. You’ll use this class in the next problem to build your address book – each entry in your address book will be an instance of the Person class.

To begin, define the    init    and    str    methods for the Person class. Read the Python documentation if needed to help you understand what    init__ and    str 	 need to do.

Here’s an example interaction in the Python shell demonstrating how your class should work after implementing these two methods:

Emily = Person(“Zhang”, “Emily”, “5559358150”, “emzhang@mit.edu”)
print Emily
Zhang, Emily -- Phone Number: 5559358150 -- Email Address(es): emzhang@mit.edu
Wesley = Person(“Graybill”, “Wesley”, “5551940325”, [‘wgray496@mit.edu’, ‘wdgraybill@gmail.com’])
print Wesley
Graybill, Wesley -- Phone Number: 5551940325 -- Email Address(es): wgray496@mit.edu, wdgraybill@gmail.com

In [5]:
### YOUR CODE GOES 


### END CODE

#### Exercise 7

In this problem, you will use your Person class from the previous problem to create an address book for storing the contacts of your friends and family. It should allow you to search the address book for a friend, and return their contact information.

Begin by defining an   init   method. Don’t forget about Python's built-­‐in dictionary data type.

Next, write a method add_contact that allows you to add a new person to the address book.

Finally, write a method lookup_contact that looks up a contact by last name. The method should accept the last name as an argument, and print each contact that matches the last name on a new line. As an additional challenge, extend this method to allow users to optionally specify a first name to narrow down the results when multiple contacts have the same last name. To learn more about optional arguments in Python, search for terms such as “optional arguments in Python” and “default arguments in Python”.

For example, suppose the contact book contains entries for both Ali Kamil, and his wife Sama Kamil. The following is an example output:

>>> a = AddressBook()
>>> a.add_person(Person(“Kamil”, “Ali”, … ))
>>> a.add_person(Person(“Kamil”, “Sama”, … ))
>>> a.lookup_contact(“Kamil”) Kamil, Ali -- Phone Number: … Kamil, Sama -- Phone Number: …
>>> a.lookup_contact(“Kamil”, “Ali”)
Kamil, Ali -- Phone Number: …

In [6]:
### YOUR CODE GOES 


### END CODE